<div class="card customer-card">
  <div class="card-block">
    <h4 class="card-title">
      {{vm.customer.firstName}} {{vm.customer.lastName}}
    </h4>
    <p class="card-text">
      {{vm.customer.city}}
    </p>
    <button type="button"
            class="close card-remove"
            aria-label="Remove"
            data-ng-click="vm.onRemove()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card-footer card-footer-button"
       data-ng-click="vm.onClick()">
    View
    <span data-ng-if="vm.customer.orders">{{vm.customer.orders.length}}</span>
    Orders
  </div>
</div>
